.container {
    /* display: flex;
    justify-items: center;
    justify-content: center; */
    max-width: 36rem;
    padding: 0 1rem;
    margin: auto auto;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-items: center;
    justify-content: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}
