:root {
    /* --background-colour: rgb(24, 26, 27); */
    --background-colour: #202020;
}

#__next {
    height: 100%;
}
html,
body {
    background-color: var(--background-colour);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--background-colour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
